{% extends "../base.html" %}
{% load static %}
{% block title %}Détail - {{ fruit.name }}{% endblock title %}

{% block container %}

<div class="detail">
<div class="container detail-container text-center" style="background-color:#4CAF50 ;padding: 50px;">
    <h2 class="text-white my-4">DÉTAIL DU JUS DE FRUITS 🍹</h2>

    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card fruit-detail-card" style="border-radius: 10px; border: none; box-shadow: 0px 4px 8px rgba(0,0,0,0.1);transition: transform 0.3s ease-in-out;background: #fff;">
                <img src="{{ fruit.image.url }}" alt="Image de {{ fruit.name }}" class="card-img-top fruit-img" style="    width: 100%;height: auto;border-top-left-radius: 10px;border-top-right-radius: 10px;">
                <div class="card-body" style="padding: 20px;text-align: center;">
                    <h3 class="card-title text-success">{{ fruit.name }}</h3>
                    <p class="card-text"><strong>Ingrédients:</strong> {{ fruit.ingredient }}</p>
                    <p class="card-text"><strong>DATE DE PRODUCTION:</strong>{{fruit.date }}</p>

                    <div class="btn-group mt-3">
                        <a href="{% url 'home' %}" class="btn btn-outline-secondary">Retour</a>
                        <a href="https://wa.me/+237683941228?text=Bonjour, j'aimerais commander {{ fruit.name }}" class="btn btn-outline-success mx-2">Commander</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock container %}
