{% extends "../base.html" %}
{% load static %}
{% block title %}Accueil{% endblock title %}

{% block container %}
<div class="accueil">
    <div class="container text-center">
        <h1 class="text-white my-4">DÉCOUVREZ NOS DÉLICIEUX JUS DE FRUITS 🍹</h1>
        <p class="text-white">Des jus 100% naturels et frais, faits avec amour ❤️</p>

        <div class="row justify-content-center">
            {% for fruit in fruits %}
            <div class="col-md-4 col-sm-6 mb-4">
                <div class="card fruit-card">
                    <div class="card-body">
                        <h3 class="card-title text-success">{{ fruit.name }}</h3>
                        <p class="card-text"><strong>PRIX      :</strong> {{ fruit.price }} FCFA</p>

                        {% if fruit.diabetic %}
                            <span class="badge bg-warning text-dark">Convient aux diabétiques</span>
                        {% endif %}

                        <a href="/detail/{{ fruit.id }}" class="btn btn-outline-success mt-3">Voir les détails</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <a href="{% url "about" %}" class="btn btn-success mt-4">Savoir plus</a>
    </div>
</div>
{% endblock container %}
